@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

*
{
    margin : 0;
    padding : 0;
    box-sizing:border-box;
    font-family: 'Poppins',sans-serif;

}
body{
    display:flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;    
}

h2{
    position: relative;
    font-size: 14vw;
    color: #252839;
    -webkit-text-stroke:0.3vw #383d52;
    text-transform:uppercase;
}

h2::before{
    content: attr(data-text);
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height: 100%;
    color: #fe5501;
    -webkit-text-stroke:0vw #1d40cb;
    border-right: 2px soild #01fe87;
    overflow:hidden;
    animation: animate 6s linear infinite;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-start; /* Move content to the left */
    align-items: center;
    min-height: 100vh;
    background: #793626;
    font-size: 25px;
    font-family: courier;
    font-weight: 600;
}

.container {
    display: flex;
    align-items: center; /* Vertically center the box and text */
  }

.box {
    position: relative;
    width: 420px;
    height: 420px;
    background: linear-gradient(#db8e3c, #d67936);
    border-radius: 50%;
    border: 10px solid #fff;
    overflow: hidden;
    margin-left: 50px; /* Adjust the margin to move the box to the left */
}

@keyframes speech {
    0% { top: -20px; }
    25% { top: 5px; box-shadow: 7px 40px 40px #000108; }
    50% { top: 20px; }
    75% { top: -20px; box-shadow: 7px -10px 50px #000108; }
    100% { top: 0; }
}

.icecream {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate-icecream 1s linear infinite;
}

.icecream img {
    position: relative;
    z-index: 9;
    width: 500px; /* Set the width to your desired size */
    height: 480px; /* Set the height to your desired size */

}


@keyframes animate-icecream {
    0% {
        transform: translate(2px, 2px);
    }
    50% {
        transform: translate(-2px, -2px);
    }
    100% {
        transform: translate(2px, 2px);
    }
}


.text {
    margin-left: 100px; /* Add space between the box and text */
    font-size: 70px; /* Adjust the font size as needed */
    color: #f6f6f6; /* Set text color */
    animation: bounce 2s infinite;
  }


@keyframes bounce {
    0%, 100% {
        transform: translateY(0); /* Start and end position */
    }
    50% {
        transform: translateY(-20px); /* Middle position (bounce up) */
    }
}
